.jgw-pages {
  height: 297mm;
  width: 210mm;
  // border: 1px solid var(--border-color);
  margin: 0 auto 1rem;
  position: relative;
  page-break-after: always;

  &--footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10mm;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--white);
  }

  .page-header {
    justify-content: space-between;
  }
}
