<div class="jgw-pages">
    <mat-toolbar color="primary" class="page-header" *ngIf="showPageHeader">
        <span>{{pageTitle}}</span>
        <img class="brand" src="https://via.placeholder.com/150x50?text=logo+150X50" alt="">
    </mat-toolbar>
    <ng-content></ng-content>
    <div class="jgw-pages--footer">{{'page' | translate}} {{pageNumber}}</div>
</div>
