.card-work {
    padding-bottom: 16px;
    display: flex;
    width: 100%;
    min-height: 250px;

    .image-container {
        flex: 0 0 40%;
        margin-right: .5rem;
    }

    &--content {
        flex: 0 0 60%;
    }

    .organisation,
    .role,
    .period {
        margin-top: .5rem;
        display: block;
    }
}