<div class="card-work">
  <div class="image-container">
    <img-container [aspectRatio]="'aspect-16-9'" [imageSrc]="image"></img-container>
    <span class="organisation">{{organisation}}</span>
    <span class="role">{{role}}</span>
    <span class="period">{{period}}</span>
  </div>
  <div class="card-work--content">
    <h2>{{title}}</h2>
    <p class="description">{{description}}</p>
    <h4>{{'project_features' | translate}}:</h4>
    <chips [items]="tags" [randomColors]="false" [colors]="'primary'" *ngIf="tags"></chips>
  </div>
</div>
