.mat-card-avatar {
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  box-sizing: content-box;
}

.mat-card {
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}

.mat-card-header {
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  align-items: center;

  ::ng-deep.mat-card-header-text .mat-card-title {
    margin: 0;
    color: var(--primary-color);
    text-transform: uppercase;
  }
}
