<mat-card class="card">
    <mat-card-header>
      <mat-icon mat-card-avatar [ngStyle]="{'color': cardIconColor}">{{cardIcon}}</mat-icon>
      <mat-card-title>{{cardTitle}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ng-content></ng-content>
    </mat-card-content>
  </mat-card>
