<div class="first-page-header">
    <avatar [size]="100" class="avatar-comp"></avatar>
  <mat-toolbar>
    <mat-toolbar-row class="bg-primary">
      <span *ngIf="title">{{title}}</span>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span *ngIf="jobTitle">{{jobTitle}}</span>
    </mat-toolbar-row>
  </mat-toolbar>
</div>