.first-page-header {
  position: relative;
  margin-bottom: 0.5rem;

  .bg-primary {
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--border-color);
    color: var(--white);
  }

  .mat-toolbar-row {
    padding-left: calc(100px + 4rem);
  }

  .avatar-comp {
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translate(0, -50%);
  }
}
