<pages [pageNumber]="1" *ngIf="!!cv">
  <first-page-header [title]="cv.title" [jobTitle]="cv.job_reference | translate"></first-page-header>
  <!-- Pag 1 -->
  <div class="grid-container col-40-60" *ngIf="!!page1">
    <div class="grid-item">
      <!-- Personalia -->
      <card [cardIcon]="page1.personalia.toolbar_icon" [cardIconColor]="page1.personalia.icon_color"
        [cardTitle]="page1.personalia.toolbar_title | translate" *ngIf="!!page1.personalia">
        <ul class="card-personalia">
          <li *ngFor="let item of page1.personalia.items">
            <mat-icon>{{item.mat_icon}}</mat-icon>
            <span>{{item.title}}</span>
          </li>
        </ul>
      </card>

      <!-- Highlights -->
      <card [cardIcon]="page1.highlights.toolbar_icon" [cardIconColor]="page1.highlights.icon_color"
        [cardTitle]="page1.highlights.toolbar_title | translate" *ngIf="!!page1.highlights">
        <ul class="card-highlights">
          <li *ngFor="let item of page1.highlights.items">
            <mat-icon>fiber_manual_record</mat-icon>
            <span>{{item}}</span>
          </li>
        </ul>
      </card>

      <!-- Talen -->
      <card [cardIcon]="page1.talen.toolbar_icon" [cardIconColor]="page1.talen.icon_color"
        [cardTitle]="page1.talen.toolbar_title | translate" *ngIf="!!page1.talen">
        <ul class="card-talen">
          <li *ngFor="let item of page1.talen.items">
            <label>{{item.taal}}</label>
            <div class="card-talen--section">
              <mat-icon>{{item.mat_icon}}</mat-icon>
              <mat-progress-bar mode="determinate" [value]="item.niveau"></mat-progress-bar>
            </div>
          </li>
        </ul>
      </card>

      <!-- Info -->
      <card [cardIcon]="page1.info.toolbar_icon" [cardIconColor]="page1.info.icon_color"
        [cardTitle]="page1.info.toolbar_title | translate" *ngIf="!!page1.info">
        <span class="info-icon">
          <mat-icon>{{page1.info.icon}}</mat-icon>
        </span>
        <p>{{page1.info.info_tekst}}</p>
      </card>
    </div>
    <div class="grid-item">
      <!-- Pitcher -->
      <card [cardIcon]="page1.pitcher.toolbar_icon" [cardIconColor]="page1.pitcher.icon_color"
        [cardTitle]="page1.pitcher.toolbar_title | translate" *ngIf="!!page1.pitcher">
        <p>{{page1.pitcher.pitcher_tekst}}</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati saepe unde excepturi ullam nobis
          sapiente, quidem, porro tempora exercitationem adipisci earum recusandae illum! Obcaecati, eius!
        </p>
      </card>

      <!-- Opleidingen -->
      <card [cardIcon]="page1.opleidingen.toolbar_icon" [cardIconColor]="page1.opleidingen.icon_color"
        [cardTitle]="page1.opleidingen.toolbar_title | translate" *ngIf="!!page1.opleidingen">
        <ng-container *ngFor="let item of page1.opleidingen.items">
          <opleiding-list [title]="item.title" [period]="item.periode" [description]="item.omschrijving"
            [image]="item.image" [showDiploma]="true" [diploma]="item.diploma"></opleiding-list>
        </ng-container>
      </card>

      <!-- werkgevers -->
      <card [cardIcon]="page1.werkgevers.toolbar_icon" [cardIconColor]="page1.werkgevers.icon_color"
        [cardTitle]="page1.werkgevers.toolbar_title | translate" *ngIf="!!page1.werkgevers">
        <ng-container *ngFor="let item of page1.werkgevers.items">
          <opleiding-list [title]="item.title" [period]="item.periode" [description]="item.omschrijving"
            [image]="item.image" [showDiploma]="false"></opleiding-list>
        </ng-container>
      </card>

      <!-- Branche ervaring -->
      <card [cardIcon]="page1.branche_ervaring.toolbar_icon" [cardIconColor]="page1.branche_ervaring.icon_color"
        [cardTitle]="page1.branche_ervaring.toolbar_title | translate" *ngIf="!!page1.branche_ervaring">
        <ul class="card-branch">
          <li *ngFor="let item of page1.branche_ervaring.items">
            <label>{{item.title}}</label>
            <chips [items]="item.branches" [randomColors]="true"></chips>
          </li>
        </ul>
      </card>
    </div>
  </div>
</pages>
<!-- End Pag 1 -->

<!-- Pag 2 -->
<pages [pageNumber]="2" [showPageHeader]="true" [pageTitle]="cv.title" *ngIf="!!cv">
  <!-- skillmatrix -->
  <card [cardIcon]="page2.info.toolbar_icon" [cardIconColor]="page2.info.icon_color"
    [cardTitle]="page2.info.toolbar_title" *ngIf="!!page2.info">
    <p>{{page2.info.info}}</p>
  </card>

  <div class="grid-container col-50-50" *ngIf="!!page2">
    <div class="grid-item" *ngFor="let onderwerp of page2.onderwerpen">
      <card [cardIcon]="''" [cardIconColor]="''" [cardTitle]="onderwerp.toolbar_title">
        <ul class="card-skills" *ngIf="onderwerp.items">
          <li *ngFor="let item of onderwerp.items">
            <div class="card-skills--title">
              <span>{{item.title}}</span>
              <span>{{formatYearExperience(item.years_experience)}}</span>
            </div>
            <mat-progress-bar mode="determinate" [value]="formatYearExperienceForProgressBar(item.years_experience)">
            </mat-progress-bar>
          </li>
        </ul>
      </card>
    </div>
  </div>
</pages>
<!-- End Pag 2 -->

<!-- Pag 3 -->
<pages [pageNumber]="3" [showPageHeader]="true" [pageTitle]="cv.title" *ngIf="!!cv">
  <div class="grid-container col-100" *ngIf="!!page3">
    <div class="grid-item">
      <card [cardIcon]="page3.credentials.toolbar_icon" [cardIconColor]="page3.credentials.icon_color"
        [cardTitle]="page3.credentials.toolbar_title | translate">
        <div class="cred-grid">
          <div class="cred-grid-item" *ngFor="let item of page3.credentials.items">
            <card-icon [title]="item.title" [description]="item.omschrijving" [period]="item.periode"
              [image]="item.image"></card-icon>
          </div>
        </div>
      </card>
    </div>

    <div class="grid-item">
      <card [cardIcon]="page3.cursussen.toolbar_icon" [cardIconColor]="page3.cursussen.icon_color"
        [cardTitle]="page3.cursussen.toolbar_title | translate" *ngIf="!!page3.cursussen">
        <div class="courses-container">
          <opleiding-list [title]="item.title" [period]="item.periode" [description]="item.omschrijving"
            [image]="item.image" [showDiploma]="false" *ngFor="let item of page3.cursussen.items" class="courses-item"></opleiding-list>
        </div>
      </card>
    </div>
  </div>
</pages>
<!-- End Pag 3 -->


<!-- Pag 4 -->
<pages [pageNumber]="4" [showPageHeader]="true" [pageTitle]="cv.title" *ngIf="!!cv">
  <div class="grid-container col-100" *ngIf="!!page4">
    <div class="grid-item">
      <card [cardIcon]="page4.pagina_1.toolbar_icon" [cardIconColor]="page4.pagina_1.icon_color"
        [cardTitle]="page4.pagina_1.toolbar_title | translate">
        <div class="card-work-container" *ngFor="let item of page4.pagina_1.items">
          <card-work [title]="item.title" [organisation]="item.organisatie" [role]="item.rol"
            [description]="item.omschrijving" [period]="item.periode" [image]="item.image"
            [tags]="item.project_kenmerken"></card-work>
        </div>
      </card>
    </div>
  </div>
</pages>
<!-- End Pag 4 -->

<!-- Pag 5 -->
<pages [pageNumber]="5" [showPageHeader]="true" [pageTitle]="cv.title" *ngIf="!!cv && !!page4.pagina_2">
  <div class="grid-container col-100" *ngIf="!!page4 && !!page4.pagina_2">
    <div class="grid-item">
      <card [cardIcon]="page4.pagina_1.toolbar_icon" [cardIconColor]="page4.pagina_1.icon_color"
        [cardTitle]="page4.pagina_1.toolbar_title  | translate">
        <div class="card-work-container" *ngFor="let item of page4.pagina_2.items">
          <card-work [title]="item.title" [organisation]="item.organisatie" [role]="item.rol"
            [description]="item.omschrijving" [period]="item.periode" [image]="item.image"
            [tags]="item.project_kenmerken"></card-work>
        </div>
      </card>
    </div>
  </div>
</pages>
<!-- End Pag 5 -->
