.grid-container {
  display: grid;
  gap: 0 1rem;

  &.col-40-60 {
    grid-template-columns: 1fr 2fr;
  }

  &.col-50-50 {
    grid-template-columns: 1fr 1fr;
  }

  &.col-100 {
    grid-template-columns: 1fr;
  }
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
  }
}

@mixin list-item {
  li {
    display: flex;
    align-items: center;
    padding-bottom: .5rem;

    &:last-child {
      padding-bottom: 0;
    }

    .mat-icon {
      margin-right: .5rem;
    }
  }
}


@mixin list {
  margin: 0 auto;
}

.card-personalia {
  width: 80%;
  @include list();
  @include list-item();
}

.card-highlights {
  @include list();
  @include list-item();
}

.card-talen {
  @include list();
  @include list-item();

  li {
    align-items: flex-start;
    flex-direction: column;
  }

  &--section {
    display: flex;
    width: 100%;
    align-items: center;
  }

  label {
    font-weight: bold;
  }
}

.info-icon {
  display: block;
  width: 100%;
  text-align: center;
}

.card-branch {
  @include list();
  @include list-item();

  label {
    margin-right: .5rem;
    font-weight: bold;
  }
}

.cred-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card-work-container {
  border-bottom: 1px solid rgb(0 0 0 / 20%);
  margin-bottom: 16px;

  &:last-child {
    border: 0;
  }
}

.card-skills {
  li {
    margin-bottom: .75rem;
  }

  &--title {
    display: flex;
    justify-content: space-between;

    > span {
      font-weight: bold;
    }
  }
}

.courses-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .courses-item {
    flex: 0 0 50%;
  }
}

::ng-deep {
  &.period {
    color: rgb(0 0 0 / 60%);
  }

  &.title,
  &.organisation {
    font-weight: bold;
  }
}
