.aspect-ratio {
  width: 100%;
  padding-top: 100%; /* 1:1 Aspect Ratio */
  position: relative;
  margin: 0;
  background-color: rgb(128 128 128 / 50%);
  overflow: hidden;

  &.aspect-16-9 {
    padding-top: 56.25%;
  }

  &.aspect-1-1 {
    padding-top: 100%;
  }

  img,
  .img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}