// Fonts
@use "@angular/material" as mat;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";

$fontConfig: (
  display-4: mat.define-typography-level(112px, 112px, 400, "Lato", -0.0134em),
  display-3: mat.define-typography-level(56px, 56px, 400, "Lato", -0.0089em),
  display-2: mat.define-typography-level(45px, 48px, 400, "Lato", 0em),
  display-1: mat.define-typography-level(34px, 40px, 400, "Lato", 0.0074em),
  headline: mat.define-typography-level(24px, 32px, 400, "Lato", 0em),
  title: mat.define-typography-level(20px, 32px, 700, "Lato", 0.0075em),
  subheading-2: mat.define-typography-level(16px, 28px, 400, "Lato", 0.0094em),
  subheading-1: mat.define-typography-level(15px, 24px, 500, "Lato", 0.0067em),
  body-2: mat.define-typography-level(14px, 24px, 500, "Lato", 0.0179em),
  body-1: mat.define-typography-level(14px, 20px, 400, "Lato", 0.0179em),
  button: mat.define-typography-level(14px, 14px, 500, "Lato", 0.0893em),
  caption: mat.define-typography-level(12px, 20px, 400, "Lato", 0.0333em),
  input: mat.define-typography-level(inherit, 1.125, 400, "Lato", 1.5px),
);

$dark-text: #000000;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);

$light-text: #ffffff;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);

body {
  --primary-color: #1e90ff;
  --primary-lighter-color: #bcdeff;
  --primary-darker-color: #1273ff;
  --text-primary-color: #{$light-primary-text};
  --text-primary-lighter-color: #{$dark-primary-text};
  --text-primary-darker-color: #{$light-primary-text};

  --accent-color: #fcba04;
  --accent-lighter-color: #feeab4;
  --accent-darker-color: #fba302;
  --text-accent-color: #{$dark-primary-text};
  --text-accent-lighter-color: #{$dark-primary-text};
  --text-accent-darker-color: #{$dark-primary-text};

  --warn-color: #ff0000;
  --warn-lighter-color: #ffb3b3;
  --warn-darker-color: #ff0000;
  --text-warn-color: #{$light-primary-text};
  --text-warn-lighter-color: #{$dark-primary-text};
  --text-warn-darker-color: #{$light-primary-text};

  --white: #fcfcfc;
  --border-color: rgba(0, 0, 0, 0.15);
}

$mat-primary: (
  50: #e3f3ff,
  100: #bce1ff,
  200: #91cfff,
  300: #62bbff,
  400: #3dacff,
  500: #1e90ff,
  600: #1e8fff,
  700: #1f7ceb,
  800: #206ad9,
  900: #1f4ab9,
  A100: #bce1ff,
  A200: #91cfff,
  A400: #3dacff,
  A700: #1f7ceb,
  contrast: (
    50: $light-primary-text,
    100: $light-primary-text,
    200: $light-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $light-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

$mat-accent: (
  50: #fff3e1,
  100: #ffe1b5,
  200: #ffcd85,
  300: #ffb956,
  400: #ffa935,
  500: #ff9a20,
  600: #ff8f1e,
  700: #f87f1c,
  800: #f26f1a,
  900: #e85518,
  contrast: (
    50: $light-primary-text,
    100: $light-primary-text,
    200: $light-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $light-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

$mat-warn: (
  main: #ff0000,
  lighter: #ffb3b3,
  darker: #ff0000,
  200: #ff0000,
  contrast: (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  ),
);
