<div class="card-icon">
    <img [src]="image" alt="">
    <div class="card-icon--content">
        <div class="title">{{title}}</div>
        <div class="period">{{period}}</div>
        <div class="description">{{description}}</div>
    </div>
</div>
