.card-icon {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: .5rem;

  img {
    width: 100%;
    height: 100px;
    flex: 0 0 100%;
    object-fit: fill;
    background-color: var(--border-color);
    margin-bottom: .5rem;
  }

  &--content {
    width: calc(100% - 10%);
  }
}
