// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material'as mat;
@use './styles/theme.scss'as core;

@use './styles/aspect-ratio.scss';
@use './styles/reset.scss';

@include mat.core(core.$fontConfig);

// Available color palettes: https://material.io/design/color/
$verhaadCv-primary: mat.define-palette(core.$mat-primary);
$verhaadCv-accent: mat.define-palette(core.$mat-accent, A200, A100, A400);
$verhaadCv-warn: mat.define-palette(core.$mat-warn);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$verhaadCv-theme: mat.define-light-theme((color: (primary: $verhaadCv-primary,
      accent: $verhaadCv-accent,
      warn: $verhaadCv-warn,
    )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($verhaadCv-theme);

/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}
