.op-list {
  display: flex;
  width: 100%;
  padding-bottom: .5rem;

  img-container {
    width: 25%;
    flex: 0 0 25%;
    margin-right: .5rem;
  }

  &--content {
    width: calc(100% - 10%);
  }

  .diploma {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
