<div class="op-list">
    <img-container [aspectRatio]="'aspect-16-9'" [imageSrc]="image" class="img-container"></img-container>
    <div class="op-list--content">
        <div class="title">{{title}}</div>
        <div class="period">{{period}}</div>
        <div class="description">{{description}}</div>
    </div>
    <div class="diploma" *ngIf="showDiploma">
        <span>{{'diploma' | translate}}</span>
        <mat-icon>{{diploma ? 'check_box' : 'check_box_outline_blank'}}</mat-icon>
    </div>
</div>
